body {
	font-family: 'Georgia', serif;
    font-size: 16px;
    color: #007A36;
	margin: 0px;
}
.site_banner {
	border-top: 8px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
	text-align: center;
}
h3 {
	font: 'Basier', sans-serif;
	font-style: bold;
	font-size: 14px;
	color: #de2f23;
	letter-spacing: 1px;
}
.article {
	max-width: 900px;
	margin-left: 5%;
	margin-right: 5%;
}
.story_header {
	font: 'Basier', sans-serif;
	size: 20px;
}
h1 {
	size: 46px;
	margin-bottom: 0px;
}
.byline {
	font-style: bold;
}
.story_copy {
	font: 'Pensum', serif;
	font-size: 20px;
}
.photo {
	width: 100%;
}
.photo_caption {
	color: gray;
	size: 14px;
	margin-top: 0px;
}
.footer {
	font: 'Basier', sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
.footer_info {
	color: gray;
	size: 14px;
}
a {
	color: black;

}
a:hover {
	color: darkred;
}
